%h2.sectionHeader
  XORDIUM

%div
  %iframe{
    style: "border: 0; width: 350px; height: 470px;",
    src: "https://bandcamp.com/EmbeddedPlayer/album=3527856760/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/transparent=true/",
    seamless: "seamless"
    }
    %a{href: "https://xeraen.bandcamp.com/album/xordium"}
      XORDIUM by ＸＥＲＡＥＮ

  %div
    %p
      Listen on:&nbsp;
    %p
      %a{href: "https://open.spotify.com/album/5Wu1CitYR7bsz3pP3VYdLj?si=m1jeWlA8Rpujx2Xnt6I__g", target: "_blank"}
        Spotify
      &nbsp;|&nbsp;
      %a{href: "https://music.apple.com/us/album/xordium-single/1772402715", target: "_blank"}
        Apple
      &nbsp;|&nbsp;
      %a{href: "https://xeraen.bandcamp.com/album/xordium", target: "_blank"}
        Bandcamp

%br

%div
  %a{href: "/xeraen"}
    XERAEN.net
