<nav class="tui-nav">
  <ul>
    <li>
      <a href="/">
        <span class="purple-168-text">-</span> The.CyberPul.se
      </a>
    </li>
    <li>
      <a href="/xeraen">
        <span class="purple-168-text">-</span> XERAEN
      </a>
    </li>
    <li>
      <a href="/sector/x">
        <span class="purple-168-text">-</span> Sector X
      </a>
    </li>
  </ul>
</nav>
