<nav class="tui-nav">
  <ul>
    <li>
      <a href="/">
        <span class="purple-168-text">0</span> The.CyberPul.se
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/xeraen">
        <span class="purple-168-text">1</span> XERAEN
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/sector/x">
        <span class="purple-168-text">2</span> Sector X
      </a>
    </li>
  </ul>
</nav>
