<nav class="tui-nav">
  <ul>
    <%= erb(:"shared/_the_cyberpulse_header_menu", locals: {index: 0}) %>
    <%= erb(:"shared/_xeraen_header_menu", locals: {index: 1}) %>
    <%= erb(:"shared/_sector_x_header_menu", locals: {index: 2}) %>
  </ul>
</nav>
