<% locals[:index] ||= "?" %>

<li class="tui-dropdown">
  <span class="purple-168-text"><%= locals[:index] %></span>&nbsp;Sector X
    <div class="tui-dropdown-content">
        <ul>
            <li>
              <a href="/sector/x">
                <span class="purple-168-text">/</span>root
              </a>
            </li>
        </ul>
    </div>
</li>
