<% locals[:index] ||= "?" %>

<li class="tui-dropdown">
  <span class="purple-168-text"><%= locals[:index] %></span>&nbsp;The.CyberPul.se
  <div class="tui-dropdown-content">
      <ul>
        <li>
          <a href="/">
            <span class="purple-168-text">/</span>root
          </a>
        </li>
        <li>
          <a href="/trackz">
            <span class="purple-168-text">/</span>trackz
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=YgD4oNPpGv4&list=PLLRgY_tjdreyU4_WtrQnkZ6D8ur41GrpC" target="_blank">
            <span class="purple-168-text">/</span>streamz
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@TheCyberPulse/videos" target="_blank">
            <span class="purple-168-text">/</span>vidz
          </a>
        </li>
      </ul>
  </div>
</li>
