<% locals[:index] ||= "?" %>

<li class="tui-dropdown">
  <span class="purple-168-text"><%= locals[:index] %></span>&nbsp;XERAEN
    <div class="tui-dropdown-content">
        <ul>
            <li>
              <a href="/xeraen/">
                <span class="purple-168-text">/</span>root
              </a>
            </li>
            <li>
              <a href="/xeraen/trackz">
                <span class="purple-168-text">/</span>trackz
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=GYSH0mDteR4&list=PLnBws134IvTRZCeazlMukr-gq24eIWCf4" target="_blank">
                <span class="purple-168-text">/</span>vidz
              </a>
            </li>
            <li>
              <a href="/xeraen/linkz">
                <span class="purple-168-text">/</span>linkz
              </a>
            </li>
        </ul>
    </div>
</li>
