<div class="tui-window white-text admin-panel" style="display: block; max-width: 900px; margin: 30px auto; padding: 20px;">
  <fieldset class="admin-panel-border">
    <legend class="center">/root/albums/new :: CREATE ALBUM</legend>

    <div style="padding: 20px;">
      <%= render "form", album: @album %>
    </div>
  </fieldset>
</div>
