!!!
%html{lang: "en-US"}
%head
  %title= "hackr.tv"
  %link{rel: "stylesheet", href: url("/css/#{CACHE_BUSTING_TOKEN}_application.css")}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %meta{name: "apple-mobile-web-app-capable", content: "yes"}

  %body
    #logo
      %a{href: "/"}
        hackr.tv

    %br

    %nav
      %a{href: "https://www.youtube.com/watch?v=YgD4oNPpGv4&list=PLLRgY_tjdreyU4_WtrQnkZ6D8ur41GrpC"}
        Streamz
      &nbsp;|&nbsp;
      %a{href: "https://www.youtube.com/@TheCyberPulse/videos"}
        Vidz
      &nbsp;|&nbsp;
      %a{href: "/linkz"}
        Linkz

    %hr
    %br

    != yield
