!!!
%html
  %head
    %title= "X E R A E N"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %link{rel: "stylesheet", href: url("/css/#{CACHE_BUSTING_TOKEN}_xeraen.css")}

  %body
    #logo
      %a{href: "/xeraen"}
        X E R A E N
    %br
    %div
      \- part of
      %a{href: "https://hackr.tv"}= "The.CyberPul.se"
    %div
      %br
      %a{href: "https://x.com/XERAEN", target: "_blank"}
        x.com/xeraen
      %br
      %br

    != yield
