<div class="tui-window ml-10">
  <fieldset class="tui-fieldset">
    <legend>Latest Release!</legend>
    <div>
      <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3527856760/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/transparent=true/" seamless><a href="https://xeraen.bandcamp.com/album/xordium">XORDIUM by ＸＥＲＡＥＮ</a></iframe>
    </div>
  </fieldset>
</div>
<div class="tui-window ml-10 mt-10">
  <fieldset class="tui-fieldset">
    <legend>Latest Video!</legend>
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/GYSH0mDteR4?si=zvFKx_qoVLzmV3kZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </fieldset>
</div>
