<div class="tui-window white-text admin-panel" style="display: block; max-width: 800px; margin: 50px auto; padding: 20px;">
  <fieldset class="admin-panel-border">
    <legend class="center">/root/artists/<%= @artist.id %>/edit :: EDIT ARTIST</legend>

    <div style="padding: 30px;">
      <%= render "form", artist: @artist %>
    </div>
  </fieldset>
</div>
