<div class="tui-window cyan-168 white-text" style="max-width: 800px; margin: 50px auto;">
  <fieldset class="cyan-168-border">
    <legend class="center">/root/artists/<%= @artist.id %>/edit :: EDIT ARTIST</legend>

    <div style="padding: 30px;">
      <%= render "form", artist: @artist %>
    </div>
  </fieldset>
</div>
