<div class="tui-window white-text admin-panel" style="display: block; max-width: 900px; margin: 30px auto; padding: 20px;">
  <fieldset class="admin-panel-border">
    <legend class="center">/root/hackr_logs/<%= @log.slug %> :: EDIT HACKR LOG</legend>
    <div style="padding: 20px;">
      <%= form_with model: @log, url: admin_hackr_log_path(@log), method: :patch, local: true do |f| %>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </fieldset>
</div>
