<div class="tui-statusbar">
  <ul>
    <li>
      <a href="/">
        <span class="purple-168-text">0</span> The.CyberPul.se
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/xeraen">
        <span class="purple-168-text">1</span> XERAEN
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="https://ashlinn.net">
        <span class="purple-168-text">2</span> Ashlinn
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="https://michaelk.net">
        <span class="purple-168-text">3</span> MichaelK
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="https://sectorx.media">
        <span class="purple-168-text">4</span> Sector X
      </a>
    </li>
  </ul>
</div>
