<style>
  .tui-statusbar ul li:hover {
    background-color: rgb(0, 168, 0);
  }
</style>
<div class="tui-statusbar">
  <ul>
    <li>
      <a href="/">
        <span class="purple-168-text">0</span> hackr.tv
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/thecyberpulse">
        <span class="purple-168-text">1</span> The.CyberPul.se
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/xeraen">
        <span class="purple-168-text">2</span> XERAEN
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/fm">
        <span class="purple-168-text">3</span> hackr.fm
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/grid">
        <span class="purple-168-text">4</span> THE PULSE GRID (pre-alpha)
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="/logs">
        <span class="purple-168-text">5</span> Hackr Logs
      </a>
    </li>
    <% if admin_hackr? %>
      <span class="tui-statusbar-divider"></span>
      <li>
        <a href="/root">
          <span class="red-255-text">6</span> /root <span class="red-255-text">[ADMIN]</span>
        </a>
      </li>
    <% end %>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="https://ashlinn.net" target="_blank">
        <span class="purple-168-text"><%= admin_hackr? ? 7 : 6 %></span> Ashlinn
      </a>
    </li>
    <span class="tui-statusbar-divider"></span>
    <li>
      <a href="https://michaelk.net" target="_blank">
        <span class="purple-168-text"><%= admin_hackr? ? 8 : 7 %></span> MichaelK
      </a>
    </li>
  </ul>
</div>
