<% index ||= "?" %>

<li class="tui-dropdown">
  <span class="purple-168-text"><%= index %></span>&nbsp;hackr.fm
    <div class="tui-dropdown-content">
        <ul>
            <li>
              <a href="/fm/radio">
                <span class="purple-168-text">/</span>radio
              </a>
            </li>
            <li>
              <a href="/fm/pulse_vault">
                <span class="purple-168-text">/</span>pulse_vault
              </a>
            </li>
            <li>
              <a href="/fm/bands">
                <span class="purple-168-text">/</span>bands
              </a>
            </li>
        </ul>
    </div>
</li>
