<% index ||= "?" %>

<li class="tui-dropdown">
  <span class="purple-168-text"><%= index %></span>&nbsp;hackr.tv
  <div class="tui-dropdown-content">
      <ul>
        <li>
          <a href="/">
            <span class="purple-168-text">/</span>root
          </a>
        </li>
      </ul>
  </div>
</li>
