<nav class="tui-nav">
  <ul>
    <%= render "shared/the_cyberpulse_header_menu", index: 0 %>
    <%= render "shared/xeraen_header_menu", index: 1 %>
    <%= render "shared/hackr_fm_header_menu", index: 2 %>
    <%= render "shared/pulse_grid_header_menu", index: 3 %>
  </ul>
</nav>
