<% index ||= "?" %>

<li class="tui-dropdown">
  <span class="purple-168-text"><%= index %></span>&nbsp;THE PULSE GRID (pre-alpha)
  <div class="tui-dropdown-content">
      <ul>
        <li>
          <a href="/grid">
            <span class="purple-168-text">/</span>grid
          </a>
        </li>
        <% if logged_in? %>
          <li>
            <a href="#" onclick="handleGridDisconnect(event)">
              <span class="purple-168-text">/</span>disconnect
            </a>
          </li>
        <% else %>
          <li>
            <a href="/grid/login">
              <span class="purple-168-text">/</span>login
            </a>
          </li>
          <li>
            <a href="/grid/register">
              <span class="purple-168-text">/</span>register
            </a>
          </li>
        <% end %>
      </ul>
  </div>
</li>
