<% index ||= "?" %>

<li class="tui-dropdown">
  <span class="purple-168-text"><%= index %></span>&nbsp;THE PULSE GRID (pre-alpha)
  <div class="tui-dropdown-content">
      <ul>
        <li>
          <a href="/grid">
            <span class="purple-168-text">/</span>grid
          </a>
        </li>
        <li>
          <a href="/grid/login">
            <span class="purple-168-text">/</span>login
          </a>
        </li>
        <li>
          <a href="/grid/register">
            <span class="purple-168-text">/</span>register
          </a>
        </li>
      </ul>
  </div>
</li>
