<div class="tui-window ml-10">
  <fieldset class="tui-fieldset">
    <legend>Linkz</legend>
    <div class="mb-20 pl-5 pr-15">
    <a href="https://open.spotify.com/artist/0nDs8RZN66dnOgJKa89FvV?si=G1wzaIddTI6m28g7oGp5cw" class="tui-button" target="_blank">Spotify</a>
    <a href="https://xeraen.bandcamp.com/" class="tui-button" target="_blank">Bandcamp</a>
    <a href="https://music.apple.com/us/artist/xeraen/1565857265" class="tui-button" target="_blank">Apple Music</a>
    <a href="https://soundcloud.com/xeraen" class="tui-button" target="_blank">SoundCloud</a>
    </div>
    <div class="mb-15 pl-5 pr-15">
    <a href="https://youtube.com/@xeraen" class="tui-button" target="_blank">YouTube</a>
    <a href="https://x.com/xeraen" class="tui-button" target="_blank">X.com</a>
    <a href="https://github.com/xeraen" class="tui-button" target="_blank">GitHub</a>
    </div>
  </fieldset>
</div>
