<div class="tui-window white-text admin-panel" style="display: block; max-width: 1200px; margin: 30px auto; padding: 20px;">
  <fieldset class="admin-panel-border">
    <legend class="center">/root/grid/schematics/<%= @schematic.slug %> :: EDIT SCHEMATIC</legend>
    <div style="padding: 20px;">
      <%= render "form", schematic: @schematic %>
    </div>
  </fieldset>
</div>
