<div class="tui-window cyan-168 white-text" style="max-width: 1000px; margin: 50px auto;">
  <fieldset class="cyan-168-border">
    <legend class="center">/root/tracks/<%= @track.id %>/edit :: EDIT TRACK</legend>

    <div style="padding: 30px;">
      <%= render "form", track: @track %>
    </div>
  </fieldset>
</div>
