<div class="tui-window white-text admin-panel" style="display: block; max-width: 1000px; margin: 50px auto; padding: 20px;">
  <fieldset class="admin-panel-border">
    <legend class="center">/root/tracks/<%= @track.id %>/edit :: EDIT TRACK</legend>

    <div style="padding: 30px;">
      <%= render "form", track: @track %>
    </div>
  </fieldset>
</div>
