<div class="tui-window white-text admin-panel" style="display: block; max-width: 900px; margin: 30px auto; padding: 20px;">
  <fieldset class="admin-panel-border">
    <legend class="center">/root/grid/rooms/<%= @room.id %> :: EDIT ROOM</legend>
    <div style="padding: 20px;">
      <%= form_with model: [:admin, @room], url: admin_grid_room_path(@room), local: true do |f| %>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </fieldset>
</div>
