<div class="tui-window white-text admin-panel" style="display: block; max-width: 900px; margin: 30px auto; padding: 20px;">
  <fieldset class="admin-panel-border">
    <legend class="center">/root/grid/factions/new :: NEW FACTION</legend>

    <div style="padding: 20px;">
      <%= form_with model: @faction, url: admin_grid_factions_path, local: true do |f| %>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </fieldset>
</div>
