<%= erb(:"shared/_coming_soon") %>

<div class="tui-window mt-30 ml-10">
  <fieldset class="tui-fieldset">
    <legend>What is The.CyberPul.se?</legend>
    <div class="pl-5 pt-5">
      <iframe
        width="280"
        height="158"
        src="https://www.youtube-nocookie.com/embed/MWSjCJQhr1o?si=wJSBR8QRjY9Y7xDG"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen=""
      />
    </div>
  </fieldset>
</div>
